* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

#root {
  --dark-purple: #463ae6;
  --dark: #010101;
  --silver: #bdbdbd;
  --lunar-green: #434443;
  --brown: #88827c;
  --white: #ffffff;
  --yellow: #fdfd18;
  --bondi-blue: #3b9ac4;
}

body {
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

body,
input,
button {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

.notification {
  background: var(--dark-purple);
  color: white;

}

.notification img {
  display: inline-block;
}